.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}


.card-header-sticky {
    position: sticky;
    top: 0;  /* Keeps the header fixed at the top */
    background-color: white;  /* Make sure the background is solid */
    z-index: 1000;  /* Ensures it stays above other elements when scrolling */
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Adds shadow for better visibility */
}


.lead-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.lead-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.lead-card-body {
    margin-bottom: 15px;
}

.lead-card-actions {
    display: flex;
    gap: 10px;
}

.action-button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit {
    background-color: #4CAF50;
    color: white;
}

.delete {
    background-color: red;
    color: white;
}

.view {
    background-color: #3454D1;
    color: white;
}
