    .report-title {
        display: flex;
        background-color: #F6F9FC;
        margin: 50px 0px;
        border-radius: 10px;
        width: 100%;
        font-weight: bold;
        font-family: "Poppins", serif;
        align-items: center;
        font-size: 30px;
        justify-content: space-between;
        padding: 10px 30px;
        box-shadow: 0px 0px 14px 0px rgb(116, 115, 115);
    }

    .report-chart {
        padding: 20px;
        width: 100%;
        background-color: #F9FAFB;
        box-shadow: 0px 0px 14px 0px rgb(116, 115, 115);
        border-radius: 1px 20px 20px 20px;
    }
    .report-btn{
        height: 48px;
        border-radius: 20px 20px 0px 0px;
        width: 300px;
    }
    .report-btn .weekly{
        padding: 8px 15px;
        border: none;
        border: 1px solid black;
        background-color:white ;
      
        /* color: black; */
        border-radius: 20px 0px 0px 0px;
    }
    .active-weekly,
    .active-monthly,
    .active-yearly{
        font-weight: bold;
        color: red;
        box-shadow: inset 0px 0px 15px 10px rgb(63, 58, 152);
    }
    .report-btn .monthly{
        padding: 8px 15px;
        border: none;
        border: 1px solid black;
        background-color:white ;
        /* color: black; */
        margin-left: 5px;
    }
    .report-btn .yearly{
        padding: 8px 15px;
        border: none;
        border: 1px solid black;
        background-color:white ;
        /* color: #3454D1; */
        /* color: black; */
        margin-left: 5px;
        border-radius: 0px 20px 0px 0px;
    }
    .report-bottom {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        align-items: center;
        justify-items: center;  /* This centers the items horizontally */
        gap: 20px;
    }
    @media(max-width:480px){
        .report-title{
            font-size: 15px;
            padding: 10px 10px;
        }
        .report-bottom{
            display: grid;
            margin-top: 20px;
            grid-template-columns: repeat(1,1fr);
            padding: 0;
        }
        .report-card1{
            width: 100%;
        }
        .report-card12{
            font-size: 20px;
            text-align: center;
        }
        .report-card1,
        .report-card2,
        .report-card3,
        .report-card4 {
            width: 100%;
        }

    }
    
    .report-card1{
        height: 150px;
        width: 100%; 
        box-shadow: 0px 0px 14px 0px rgb(116, 115, 115);

        border-radius:0px 50px 00px 50px;
    }
    
    .report-card1 {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:5px 20px;
        gap: 10px;
    }

    .report-card11{
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        color: #3454D1;
    }
    
    .report-card12{
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .report-card12 span{
        font-family: 'Poppins',serif;
        font-size: 20px;
        font-weight: 400;
        color: #3454D1;
    }
    .report-card12 p{
        font-family: "Poppins",serif;
        color: #3454D1;
        font-weight: bold;
        font-size: 40px;
    }
    